<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spotify Dashboard</title>
    <link rel="stylesheet" href="../static/styles/style.css"/>
</head>
<body onload="init({{ df }})">
<h3 class="main-title">Spotify Dashboard</h3>
<h4 class="title">Ed Sheeran's Top 4 Songs' Trend in 2017 (Globally - Daywise)</h4>
<div class="path-chart" id="path-chart-container">
    <h3 class="sub-title">Time-series Path Block Visualisation <span class="sub-sub-title">(Daily rankings with streams shown as block heights)</span>
    </h3>
    <div class="at-front-text">At front?</div>
    <div class="select-tracks-radio">
    </div>
</div>
<div class="pie-chart-container">
    <h3 class="sub-title" id="pie-chart-title">Time-series Arc Burst Visualisation <span class="sub-sub-title">(Daily average rankings shown as burst along a cyclic path)</span>
    </h3>
    <div class="select-tracks">
    </div>
    <svg class="pie-chart"></svg>
</div>
{#    <br id="clear"/>#}
<script src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="../static/scripts/pathlayout.js"></script>
<script type="text/javascript" src="../static/scripts/d3-tip.js"></script>
<script type="text/javascript" src="../static/scripts/init.js"></script>
</body>
</html>