body {
    font: 10px sans-serif;
    background: #333;
}

.main-title {
    color: white;
    font-size: 25px;
    text-align: center;
    width: 1180px;
}

.title {
    color: white;
    font-size: 20px;
    margin: 15px;
    text-align: center;
    width: 1180px;
}

.sub-title {
    color: white;
    font-size: 17.5px;
    margin: 10px;
    margin-left: 10px;
}

.sub-sub-title {
    font-size: 15px;
}

.pie-chart-container {
    border: 1px white solid;
    text-align: center;
    padding: 20px;
    width: 1180px;
}

.select-tracks, .select-tracks-radio {
    border: 1px white solid;
    width: 100px;
    height: 100px;
    vertical-align: bottom;
    display: inline-block;
    /* ie6/7 */
    *display: inline;
    zoom: 1;
    /*display: none;*/
    text-align: left;
}

.at-front-text {
    width: 100px;
    position: absolute;
    color: white;
    font-size: 15px;
    font-weight: bold;
    /*left: 100px;*/
    bottom: 100px;
}

.select-tracks-radio {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: auto;
    color: white;
    font-size: 15px;
    padding: 10px;
    height: 75px;
    background-color: #333;
}

.pie-chart {
    padding-right: 10px;
    display: inline-block;
}

.path-chart {
    border: 1px white solid;
    padding: 10px;
    height: 750px;
    width: 1200px;
    /*float: left;*/
}

#pie-chart-title {
    text-align: left;
    margin: 0px;
    margin-top: 5px;
}

/*#clear {*/
/*clear: left;*/
/*}*/

.arc path {
    /*stroke: #fff;*/
    stroke-width: 2px;
}

.tracks {
    color: white;
}

.arc grid {
    /*stroke: #fff;*/
    stroke-width: 1;
    stroke-dasharray: 5, 5;
}

.arc text {
    /*fill: #fff;*/
    font-size: 12px;
    font-weight: bold;
}

.arc line {
    /*stroke: #fff;*/
}

.d3-tip {
    line-height: 1;
    padding: 6px;
    background: rgba(255, 255, 255, 0.8);
    color: "black";
    border-radius: 4px;
    font-size: 15px;
    font-weight: bold;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(255, 255, 255, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips specifically */
.d3-tip.n:after {
    margin: -2px 0 0 0;
    top: 100%;
    left: 0;
}
